# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Build output
/dist

# TypeScript build info
*.tsbuildinfo

# Env files
.env
.env.*

# Caches
.cache
.eslintcache

# Dependencies
/node_modules

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.idea/
.vscode/

# Package manager caches
.npm
.yarn/cache
.pnpm-store

# REPL history
.node_repl_history
